/* Styles globaux */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Conteneur principal */
.main-container {
    max-width: 1440px !important;
    margin: 0 auto !important;
    /* Optionnel : Pour un peu d'espace intérieur */
}

/* En-tête personnalisée */
.custom-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    color: white;
    max-width: 1440px;
    margin: 0 auto;
}

/* Partie supérieure de l'en-tête */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}

/* Titre du site */
.site-title {
    flex-shrink: 0;
    margin-left: 100px;
}

.site-title a img {
    max-height: 60px;
    /* Ajuster la hauteur si nécessaire */
}

/* Menu de navigation */
.nav-menu {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

/* Éléments du menu principal */
#primary-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 100px;
}

#primary-menu li {
    margin: 0 10px;
    /* Ajuster l'espacement entre les éléments du menu */
}

#primary-menu a {
    text-decoration: none;
    color: black;
    font-size: 16;
    font-family: 'Space Mono';
    font-weight: 400;
    text-transform: uppercase;
    word-wrap: break-word;
    /* Ajuster la couleur si nécessaire */
    padding: 10px 15px;
    /* Ajuster le padding si nécessaire */
    display: block;
}

#primary-menu a:hover {
    font-size: 16;
    font-family: 'Space Mono';
    font-weight: 700;
    text-transform: uppercase;
    word-wrap: break-word;
}

/* Conteneur de l'image de l'en-tête */
.header-image-container {
    position: relative !important;
    width: 100% !important;
    overflow: hidden !important;
    max-height: 966px;
}

.header-image {
    width: 100% !important;
    height: auto !important;
    display: block !important;
    max-width: 1440px !important;
    margin: 0 auto !important;
    object-fit: cover;
}

/* Overlay pour l'image de l'en-tête */
.custom-header .overlay {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    background: rgba(0, 0, 0, 0.5) !important;
}

/* Texte de l'en-tête */
.custom-header .header-text {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    font-family: 'Space Mono';
    font-style: italic;
    font-size: 96px !important;
    font-weight: 700 !important;
    text-transform: uppercase !important;
    word-wrap: break-word;
    width: 1000px;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    /* Épaisseur du contour */
    -webkit-text-stroke-color: white;
    /* Couleur du contour */
}

/* Menu de navigation pour petit écran */
.nav-menu {
    position: absolute !important;
    top: 20px !important;
    right: 20px !important;
}

/* Conteneur de la galerie */
.gallery-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

/* Grille de la galerie */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Deux colonnes */
    gap: 10px;
}

.gallery-item {
    position: relative;
    width: 100% !important;
    height: 564px !important;
    /* Hauteur fixe */
    overflow: hidden;
    background-color: #f0f0f0;
    /* Couleur de fond pour les espaces */
}

.gallery-item img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    /* S'assurer que les images couvrent l'espace sans distorsion */
    object-position: center;
    /* Centrer l'image */
    display: block;
    /* Élimine les espaces blancs en ligne */
}

/* Filtres de la galerie */
.filters {
    display: flex;
    justify-content: space-between;
    /* Assurer un espacement uniforme */
    align-items: center;
    /* Alignement vertical centré */
    margin-bottom: 20px;
}

.filters select {
    padding: 10px;
    font-size: 16px;
    width: 30%;
    /* Ajuster la largeur pour en mettre trois côte à côte */
}

/* Styles de base pour le menu déroulant */
.dropdowns-container {
    display: flex;
    justify-content: space-between;
    /* Distribute space between items */
    align-items: center;
    /* Center items vertically */
    padding: 20px;
    margin-top: 46px;
    margin-left: 60px;
    margin-right: 60px;
}

.dropdown-container {
    display: flex;
    justify-content: center;
    /* Centrer horizontalement */
    align-items: center;
    /* Centrer verticalement */
    gap: 20px;
    /* Espace entre les éléments */
    padding: 20px;
}

.left-dropdowns {
    display: flex;
    gap: 36px;
    /* Space between left dropdowns */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.taxonomies-dropdown {
    display: flex;
    gap: 20px;
}

.order-by-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Assurer l'alignement central vertical */
    text-align: end;
}

.dropdown-selected {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-family: 'Poppins';
    color: var(--Black, #313144);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    gap: 10px;
    text-align: center;
    width: 260px;
}

.dropdown-selected::after {
    content: '';
    width: 16px;
    height: 16px;
    background-image: url('http://nathalie-mota.local/wp-content/themes/Site-Photographe/medias/chevron-down-s.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
}

.dropdown.open .dropdown-selected::after {
    transform: rotate(180deg);
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    width: 100%;
    z-index: 1000;
    list-style: none;
    padding: 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.dropdown.open .dropdown-menu {
    display: block;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-family: 'Poppins';
    color: var(--Black, #313144);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    gap: 10px;
}

.dropdown-item.first-item {
    height: 50px;
    display: flex;
    align-items: center;
}

.dropdown-item:hover {
    background-color: #FFD6D6;
}

.dropdown-item:active {
    background-color: #FE5858;
}

.dropdown-menu .dropdown-item.selected {
    background-color: #E00000;
    color: white;
}

/* Grille de la galerie */

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 80px;
    padding-top: 10px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
}

/* Cards */

.related-photos-container {
    margin-top: 20px;
}

.related-photos {
    display: flex;
    justify-content: space-around;
}

.related-photo-card {
    position: relative;
    width: 100%;
    padding-top: 100%;
    /* Maintient un ratio carré */
    overflow: hidden;
    border: 1px solid #ddd;
    background-color: #fff;
    /* Ajoute un fond blanc pour les cartes */
}

.related-photo-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.related-photo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Augmentation de l'opacité pour rendre l'image plus sombre */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 10;
    /* Assure que la superposition est au-dessus de l'image */
    pointer-events: none;
    /* Désactive les interactions de la superposition */
}

.related-photo-card:hover .related-photo-overlay {
    opacity: 1;
    pointer-events: auto;
    /* Réactive les interactions au survol */
}

.related-photo-card:hover img {
    opacity: 0.7;
}

.related-photo-fullscreen {
    align-self: flex-end;
    margin: 10px;
}

.related-photo-fullscreen a {
    color: white;
    font-size: 1.5em;
}

.related-photo-view {
    align-self: center;
    margin: 10px;
}

.related-photo-view a {
    color: white;
    font-size: 2em;
}

.related-photo-info {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.related-photo-reference {
    font-size: 0.9em;
}

.related-photo-category {
    font-size: 0.9em;
}

/* Cards page infophoto.php */

/* Styles spécifiques pour les cartes de la page infophoto.php */
/* Styles spécifiques pour les cartes de la page infophoto.php */
.infophoto-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 colonnes pour aligner les cartes horizontalement */
    gap: 20px;
    /* Espace entre les cartes */
    padding: 20px;
    margin: 0 40px;
    /* Ajoute une marge de 40px à gauche et à droite */
}

.infophoto-card {
    position: relative;
    width: 100%;
    padding-top: 100%;
    /* Maintient un ratio carré */
    overflow: hidden;
    border: 1px solid #ddd;
    background-color: #fff;
    /* Ajoute un fond blanc pour les cartes */
}

.infophoto-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.infophoto-card:hover .infophoto-overlay {
    opacity: 1;
    pointer-events: auto;
}

.infophoto-card:hover img {
    opacity: 0.7;
}

.infophoto-fullscreen {
    margin: 10px;
}

.infophoto-fullscreen a {
    color: white;
    font-size: 1.5em;
}

.infophoto-view {
    margin: 10px;
}

.infophoto-view a {
    color: white;
    font-size: 2em;
}

.infophoto-info {
    text-align: center;
    margin-top: 10px;
}

.infophoto-reference,
.infophoto-category {
    display: block;
    margin-top: 5px;
    font-size: 0.9em;
}

/* Bouton charger plus */
.load-more-container {
    text-align: center;
    margin-top: 20px;
}

.load-more-button {
    color: 'black';
    font-size: 12;
    font-family: 'Space Mono';
    font-weight: '400';
    word-wrap: 'break-word';
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    width: 272px;
    height: 50px;
    margin-top: 20px;
}

.load-more-button:hover {
    background-color: #000;
    color: white;
    font-size: 12;
    font-family: 'Space Mono';
    font-weight: 700;
    word-wrap: break-word;
}

/* Pied de page */
footer {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-top: 1px solid black;
    /* Ajoute une bordure noire de 5 pixels en haut du footer */
    margin-top: 20px;
}

footer a {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Space Mono';
    font-weight: 400;
    text-transform: uppercase;
    word-wrap: break-word;
    padding-left: 43px;
    padding-right: 43px;
}

footer a:hover {
    color: #000;
    text-decoration: none;
    font-size: 16;
    font-family: 'Space Mono';
    font-weight: 700;
    text-transform: uppercase;
    word-wrap: break-word;
}

.footer-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

/* Styles pour le menu hamburger */
.hamburger {
    display: none;
    cursor: pointer;
    background: transparent;
    border: none;
    z-index: 10;
}

.hamburger img {
    width: 30px;
    height: 30px;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background-color: black;
    border-radius: 5px;
    transition: all 0.3s linear;
    position: relative;
}

/* Gestion du défilement */
body.no-scroll {
    overflow: hidden;
}

#overlay {
    display: none;
    /* Caché par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Couleur de fond noire avec transparence */
    z-index: 900;
    /* En dessous de la modale mais au-dessus du reste */
}

/* Styles pour la modal */
.contactModal {
    display: none !important;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactModal .show {
    display: block !important;
}

.modal-dialog {
    position: relative;
    width: auto;
    pointer-events: none;
    max-width: 500px;
    width: 100%;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    /* Centre horizontalement les éléments */
    margin-top: 50px;
}

.modal-header {
    display: flex;
    justify-content: center;
    /* Centre horizontalement le contenu */
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    width: 100%;
    /* Prend toute la largeur pour centrer l'image */
}

.modal-header img {
    max-width: 107%;
    height: auto;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centre horizontalement les éléments */
    width: 100%;
    /* Prend toute la largeur */
}

.modal-body form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centre horizontalement les éléments du formulaire */
    width: 100%;
    /* Prend toute la largeur */
}

.modal-body form label {
    margin-bottom: 0.5rem;
    color: #313144;
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.modal-body form input,
.modal-body form textarea {
    margin-bottom: 1rem;
    border: 1px solid #B8BBC2;
    border-radius: 8px;
    width: 100%;
    background: #FFF;
}

.wpcf7-form-control.wpcf7-textarea {
    height: 210px !important;
    width: 277px !important;
}

.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
    height: 40px;
}

.wpcf7-form-control.wpcf7-submit.has-spinner {
    display: flex;
    width: 263px;
    height: 50px;
    padding: 8px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #000;
    font-family: 'Space Mono';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 2px;
    background: #D8D8D8;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
}

#form-message {
    margin-top: 10px;
    font-size: 14px;
    color: #333;
}

#form-message .success {
    color: green;
}

#form-message .error {
    color: red;
}

/* Bouton d'appel à l'action */
.cta-button {
    background-color: #D8D8D8;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    width: 272px;
    height: 50px;
    color: #000;
    font-family: "Space Mono";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cta-button:hover {
    background: #000;
    color: #FFF;
    font-weight: 700;
}

/* Navigation des photos */
.navigation-buttons {
    display: flex;
    align-items: center;
    right: 0;
    padding: 0 20px;
}

.nav-arrow {
    font-size: 2em;
    color: #333;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 0.3s;
}

.nav-arrow:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #000;
}


/* Lightbox styles */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    position: relative;
    text-align: center;
    width: 90%;
    /* Assurez-vous que le contenu prend 90% de la largeur de la fenêtre */
    max-width: 90%;
    /* Limite la largeur maximale à 90% */
    max-height: 90%;
    /* Limite la hauteur maximale à 90% */
}

.lightbox img {
    width: 100%;
    height: auto;
    max-height: 80vh;
    /* Limite la hauteur maximale de l'image */
    object-fit: contain;
    /* Contenir l'image dans la boîte sans la déformer */
}

.lightbox-close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.lightbox-prev,
.lightbox-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.3s;
    user-select: none;
}

.lightbox-prev {
    left: 20px;
    /* Position à gauche de l'image */
}

.lightbox-next {
    right: 20px;
    /* Position à droite de l'image */
}

.lightbox-prev:hover,
.lightbox-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.lightbox-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: white;
    font-size: 16px;
}

.lightbox-reference,
.lightbox-category {
    padding: 10px;
    width: 50%;
    /* S'assure que chaque élément prend 50% de la largeur disponible */
}

/* Style page infophoto.php */

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cta-container {
    display: flex;
    align-items: center;
}

.related-photos-container {
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 110px;
}

.photo-container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    /* Allow this section to grow and take up available space */
    align-items: stretch;
    /* Ensure children stretch to the container height */
}

.photo-info {
    width: 50%;
    padding-right: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* Align content to the bottom */
    align-items: flex-start;
    /* Align content to the left */
    gap: 10px;
}

.interesse-infophoto {
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.titre-part2infophoto {
    color: #000;
    font-family: 'Space Mono';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin-left: 60px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.photo-image {
    width: 50%;
    padding-left: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    /* Center the image vertically */
}

.photo-image img {
    width: 100%;
    object-fit: cover;
}

.interaction-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 118px;
}

.titre-infophoto {
    color: #000;
    font-family: "Space Mono";
    font-size: 66px;
    font-style: italic;
    font-weight: 400;
    line-height: 58px;
    /* 87.879% */
    text-transform: uppercase;
    max-width: 420px;
}

.texte-infophoto {
    color: #000;
    font-family: 'Space Mono';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}

#nav-preview-container {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    z-index: 1000;
}

#nav-preview-container img {
    width: 200px;
    /* Adjust the size as needed */
    height: auto;
    transition: opacity 0.5s ease;
    opacity: 0;
}

#nav-preview-container img.show {
    opacity: 1;
}


/* Styles pour le menu en version mobile */
@media screen and (max-width: 800px) {
    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background-color: #E00000;
        position: fixed;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        z-index: 9;
    }

    .nav-menu.active {
        display: flex;
        margin-top: 60px;
    }

    .hamburger {
        display: flex;
    }

    .site-title {
        margin-left: 10px;
    }

    #primary-menu {
        margin: 0;
        padding: 0;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    #primary-menu li {
        margin: 20px 0;
    }

    #primary-menu a {
        color: #FFF;
        text-align: center;
        font-family: 'Space Mono';
        font-size: 44px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    #primary-menu a:hover {
        color: #ff6347;
        /* Couleur de survol */
    }

    .gallery-grid {
        grid-template-columns: 1fr;
    }

    .filters {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 60px;
        gap: 10px;
    }

    .dropdown-selected {
        width: 270px;
    }

    .footer-nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 1000px) {
    .custom-header .header-text {
        font-size: 50px !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-26%, -50%) !important;
        line-height: normal;
        font-weight: 700;
    }
}

@media (max-width: 480px) {
    .gallery-grid {
        grid-template-columns: 1fr;
        /* 1 colonne pour petits écrans */
    }
}